<!DOCTYPE html>
<html lang="en" ng-app="myFirstApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/app/lib/angular-1.8.2/angular.min.js"></script>
    <script src="/app/app.js"></script>
    <link rel="stylesheet" href="/content/css/styles.css"/>

</head>
<body>
    <ng-include src="'header.html'"></ng-include>
    <header ng-include="'header.html'"></header>
    <div ng-controller="MyFirstAppController">
        <p>{{message}}</p>
        <input ng-model="search"/>
        <ul>
            <li ng-repeat="nome in nomes | orderBy: 'nome' | filter: search">{{nome.nome}} - {{nome.preco | currency: 'R$'}}</li>
        </ul>
    </div>
</body> 
</html> 